.common {
    text-align: center;
}

/*.content1{*/
/*    display: inline-block;*/
/*    vertical-align: top;*/
/*    text-align: center;*/
/*    transition: all .15s ease-in-out;*/
/*    width: 500px;*/
/*    height: 300px;*/
/*    background-color: darkgray;*/
/*}*/
#myform{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    transition: all .15s ease-in-out;
    width: 500px;
    height: 300px;
    background-color: darkgray;
    margin : 0;
    padding : 0;
}


.content2{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    transition: all .15s ease-in-out;
    width: 500px;
    height: 300px;
    background-color: darkgray;
    outline: none;
    background-size: 100% 100%;
}




